<footer class="form-inline justify-content-center small">
  <div>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
    </ul>
  </div>
  <div class="footer-copyright toast-body px-5 py-5">
    &#169 2020 Copyright:
    <a href="https://taw.com/"> taw.com</a>
  </div>
  <div>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
    </ul>
  </div>
</footer>